@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

* {
  box-sizing: border-box;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  display: inline-block;
}

/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.gh-icon {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.latest-commits-widget {
  border: 1px solid #cacaca;
  width: 100%;
  height: 100%;
  font: 14px "Helvetica Neue", helvetica, arial, freesans, clean, sans-serif;
  background: #dedede;
  display: flex;
  flex-direction: column;
  a {
    color: #4183c4;
    &:visited {
      color: #4183c4;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 0.5em 0;
  }
}

.latest-commits-header {
  background-image: linear-gradient(#f1f1f1, #e1e1e1);
  border-bottom: 1px solid #CACACA;
  color: #52595d;
  height: 40px;
  margin: 0;
  padding: 5px 0 0 5px;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: bold;
  h4 {
    margin: 3px 0;
    padding-left: 5px;
    display: inline-block;

    a {
      color: #52595d;
      &:hover {
        color: #4183c4;
      }
    }
  }
}

.latest-commits-widget ul.commit-history {
  flex: 1;
  padding-left: 0;
  margin: 0;
  overflow-y: scroll;
  li {
    list-style-type: none;
    background-color: #f1f1f1;
    border-bottom: 1px solid #DEDEDE;
    padding: 5px;
    width: 100%;
    position: relative;
    .commit-author {
      font-size: 1.1em;
      transition: all ease-in-out 0.2s;
      &:hover {
        color: #4183c4;
      }
    }
    .commit-message {
      font-size: 0.9em;
      text-decoration: none;
      line-height: 1.2em;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    .commit-sha {
      color: #999;
      font-size: .8em;
    }
    .commit-date {
      color: #999;
      font-size: .8em;
    }
    .commit-author-info a {
      color: #444;
      text-decoration: none;
      &:visited {
        color: #444;
        text-decoration: none;
      }
    }
    .commit-avatar {
      //margin-top: 10px;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      border: 1px solid #dedede;
    }
    .commit-author-info {
      padding: 10px;
      width: 85%;
    }
  }
}

.left {
  float: left;
}
