@import "compass/reset";
@import "compass";
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

* {
  box-sizing: border-box;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  display: inline-block;
}

/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */

body {
  margin: 0;
  padding: 0;
}

.gh-icon {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#latest-commits-widget {
  border: 1px solid #cacaca;
  width: 500px;
  height: 250px;
  font: 13px helvetica, arial, freesans, clean, sans-serif;
  background: #dedede;
  a {
    color: #4183c4;
    &:visited {
      color: #4183c4;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

#latest-commits-header {
  @include background-image(linear-gradient(#f1f1f1, #e1e1e1));
  border-bottom: 1px solid #CACACA;
  color: #52595d;
  height: 35px;
  margin: 0;
  padding: 5px 0 0 5px;
  text-shadow: 1px 0 1px rgba(255, 255, 255, 0.7);
  font-size: 1.3em;
  font-weight: bold;
  h4 {
    margin: 3px 0;
    display: inline-block;
  }
}

#latest-commits-widget ul#commit-history {
  overflow-y: auto;
  height: 214px;
  padding-left: 0;
  margin: 0;
  li {
    list-style-type: none;
    @include background-image(linear-gradient(#f1f1f1, #e1e1e1));
    border-bottom: 1px solid #CACACA;
    padding: 5px;
    width: 100%;
    .commit-message {
      font-size: .8em;
      text-decoration: none;
      line-height: 1.3em;
      &:hover {
        text-decoration: underline;
      }
    }
    .commit-sha {
      color: #999;
      font-size: .8em;
    }
    .commit-date {
      color: #444;
      font-size: .8em;
    }
    .commit-author-info a {
      color: #444;
      text-decoration: none;
      &:visited {
        color: #444;
        text-decoration: none;
      }
    }
    .commit-avatar {
      margin-top: 10px;
      height: 50px;
      width: 50px;
      border-radius: 4px;
      border: 1px solid #dedede;
    }
    .commit-author-info {
      padding: 10px;
      width: 85%;
    }
  }
}

.left {
  float: left;
}
